*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
    padding-top: 21px;
    
}
nav{
    width: 100%;
    max-width: 1158px;
    margin-left:128.94px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    color: #000000;
    font-weight: medium;
;
}
.b button{
  
    list-style-type:none;
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px ;
    font-size: 16px ;
    font-weight:semi bold;
    color: #FFFFFF;
    margin-right: 120px;
    
}


nav .menu a{
    font-size: 16px;
    text-decoration: none;
}
