*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
    padding-top: 21px;
    
}
nav{
    width: 100%;
    max-width: 1158px;
    margin-left:128.94px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    color: #000000;
    font-weight: medium;

}

.b button{
  
    list-style-type:none;
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px ;
    font-size: 16px ;
    font-weight:semi bold;
    color: #FFFFFF;
    margin-right: 120px;
    
}


nav .menu a{
    font-size: 16px;
    text-decoration: none;
}
#about{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
    
    
    }

.section-heading{
    text-align: center;padding-top: 115.5px;padding-bottom: 175.5px;
}
.about-container p{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24;
    padding-top: 16px;
    padding-bottom: 32px;
}


.section-heading button .b1{
    padding: 12px 8px;
    border: none;
    border-radius: 100%;
}
.second button{
    padding: 16.5 0 16.5
    16px;
    background-color:#30B868;
    border: none;
    border-radius: 4px;
}
.section-heading ul .second{
    display: flex;
    list-style: none;
    text-align: center;
    padding-left: 567.5px;
}
.section-heading .heador{
    color: #30B868;
}
.section-heading h1{
    color: #FFFFFF;
    font-weight: 770px;
    
}
.section-heading p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}
.middle{
    text-align:center;
    padding-top: 26px;
    
}
section .little{
    font-size: small;
    
} 
.info{
    padding-top: 66px;
    text-align: center;
   
}
section .info-card{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    padding-top: 120px;
}
#banner {
    display:flex; 
    justify-content: space-between;
    align-items: center;
}
.matha{
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;

}





